.time{
    text-align: center;
    padding:32px;
    
}

.time h3{
    font-size: 32px;
    border-bottom:4px solid ;
    display: inline-block;
    padding-bottom: 8px;
}

.containerColaborador{
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;

}

.defCorCard{
    position:absolute;
    right: 30px;
    width: 35px;
    cursor: pointer;
}

.defCorBackground{
    position:absolute;
    right: 100px;
    width: 35px;
    cursor: pointer;
}